# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.pdb
*.db
*.opendb
.vs/*
Estimator.sdf
Debug/*
Release/*
x64/*
src/x64/*
.DS_Store
*.synctex.gz
*.aux
*.bbl
*.blg
